<!DOCTYPE html>
<!-- Screen to start a new scorey -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Start Scorey</title>

    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        h2 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }

        p.welcome {
            font-family: "Arial";
            font-size: 2em;
            color: green;
        }

        body {
            text-align: center;
        }
    </style>

</head>
<body>

<p class="welcome"> Start scoring a new game! </p>
<br><br>
    
<form action="/updatescorey" method="POST">
  <input type="text" placeholder="Team Name" name="team_name">
  <input type="text" placeholder="Opposition" name="opposition_name">
  <input type="text" placeholder="Venue" name="venue">
  <input type="text" placeholder="Date" name="date">
  <input type="text" placeholder="Authentication key" name="key">
  <input type="hidden" name="scorey_update" value="scorey started!...">
  <button type="submit">Submit</button>
</form>


</body>
</html>